<div class="album py-5 bg-light">
    <div class="container-fluid" *ngIf="(data$ | async) as data">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col" *ngFor="let item of data">
                <div class="card shadow-sm">
                    <img [src]=item.image alt=item.name>
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.species}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading$ | async">
    <app-loader></app-loader>
</div>